TOPIC: String Based Assignment Problem

In [1]:
#1. Write a program to reverse a string.

str = input("Enter the String : ")
print ("Reverese Value for the string is : ",str[::-1])

Enter the String :  Welcome to Python

Reverese Value for the string is :  nohtyP ot emocleW

In [2]:
#2. Check if a string is a palindrome.

input_string = input("Enter a string: ")

# Remove spaces and convert to lowercase for case-insensitive comparison
reverse_string = input_string[::-1]
print (reverse_string)

if input_string == reverse_string:
    print("The string is a palindrome.")
else:
    print("The string is not a palindrome.")

Enter a string:  level

level
The string is a palindrome.

In [4]:
#3. Convert a string to uppercase.

input_string = input("Enter a string: ")
print ("Upper case for the Entered String Value : ",input_string.upper())

Enter a string:  pwskills

Upper case for the Entered String Value :  PWSKILLS

In [6]:
#4. Convert a string to lowercase.

input_string = input("Enter a string: ")
print ("Upper case for the Entered String Value : ",input_string.lower())

Enter a string:  PYTHON

Upper case for the Entered String Value :  python

In [7]:
#5. Count the number of vowels in a string.

sentence = input("Enter a sentence: ")
vowel_count = 0
vowels = "aeiouAEIOU"

for char in sentence:
    #print (char)
    if char in vowels:
        vowel_count += 1

print(f"The number of vowels in the sentence is: {vowel_count}")

Enter a sentence:  Hi, I am doing 2nd assignment in python class

The number of vowels in the sentence is: 11

In [12]:
#6. Count the number of consonants in a string.

#Defining alphabets in a valriable with lower case and upper case value & conver the values to set
alphabet = 'abcdefghijklmnopqrstuvwxyz'
alphabet = alphabet + alphabet.upper()
alphabet = set(alphabet)

#Defining vowels in a valriable with lower case and upper case value & conver the values to set
vowels = 'aeiou'
vowels = vowels + vowels.upper()
vowels = set(vowels)

#Getting the consonants value from alphabet
consonants = alphabet - vowels
input_string = input("Enter a string: ")

con_count = 0
for char in input_string:
    #print (char)
    if char in consonants:
        con_count += 1

print(f"The number of vowels in the sentence is: {con_count}")

Enter a string:  Welcome to python class

The number of vowels in the sentence is: 14

In [13]:
#7. Remove all whitespaces from a string.

input_string = input("Enter a string: ")
mod_string = input_string.replace(" ","")
print ("Modified String without space : ",mod_string)

Enter a string:  Today is Sunny Day

Modified String without space :  TodayisSunnyDay

In [14]:
#8. Find the length of a string without using the `len()` function.

input_string = input("Enter a string: ")
len_of_string = 0
for char in input_string:
    len_of_string += 1

print ("Length of the String : ",len_of_string)

Enter a string:  Hello World

Length of the String :  11

In [16]:
#9. Check if a string contains a specific word.

input_string = input("Enter a string: ")
search_word = input("Enter a search word: ")
#print (input_string.find(search_word))
if input_string.find(search_word) == -1:
    print ("Search word is not found in the input string")
else:
    print ("Search word is found in the input string")

Enter a string:  welcome to python world
Enter a search word:  python

Search word is found in the input string

In [18]:
#10. Replace a word in a string with another word.

input_string = input("Enter a string: ")
source_word = input("Enter a word to replace: ")
target_word = input("Enter the target word to replace: ")

print ("Modified Statement : ",input_string.replace(source_word,target_word))

Enter a string:  welcome to python cource
Enter a word to replace:  python
Enter the target word to replace:  spark

Modified Statement :  welcome to spark cource

In [27]:
#11. Count the occurrences of a word in a string.


input_string = input("Enter a string: ")
find_word = input("Enter a word to count: ")
words = input_string.split()

count = 0
for word in words:
    if word == find_word:
        count += 1
        
print ("Search Value count is ",count)

Enter a string:  Hello World, Hello Python! Hello World again!
Enter a word to count:  Hello

Search Value count is  3

In [31]:
#12. Find the first occurrence of a word in a string.

input_string = input("Enter a string: ")
find_word = input("Enter a word to find: ")

first_occurance = input_string.index(find_word)
print ("First Occurance Index is ",first_occurance)

Enter a string:  Hello World, Hello Python! Hello World again!
Enter a word to find:  World

First Occurance Index is  6

In [35]:
#13. Find the last occurrence of a word in a string.

input_string = input("Enter a string: ")
find_word = input("Enter a word to find: ")

last_occurance = input_string.rfind(find_word)
print ("Last Occurance Index is ",last_occurance)

Enter a string:  Hello World, Hello Python! Hello World again!
Enter a word to find:  World

Last Occurance Index is  33

In [36]:
#14. Split a string into a list of words.

input_string = input("Enter a string: ")
words = input_string.split()
print ("list of String : ",words)

Enter a string:  Welcome to python world

list of String :  ['Welcome', 'to', 'python', 'world']

In [37]:
#15. Join a list of words into a string.

lst_val = ['Welcome', 'to', 'python', 'world']
print ("Join String : "," ".join(lst_val))

Join String :  Welcome to python world

In [38]:
#16. Convert a string where words are separated by spaces to one where words are separated by underscores.

input_string = input("Enter a string: ")
print ("Convert the value replace spaces to underscore : ",input_string.replace(' ','_'))

Enter a string:  Welcome to Python Class

Convert the value replace spaces to underscore :  Welcome_to_Python_Class

In [45]:
#17. Check if a string starts with a specific word or phrase.

input_string = input("Enter a string: ")
find_word_phrase = input("Enter a word or phrase to find: ")

chk_val = input_string.find(find_word_phrase)
if chk_val == 0:
    print ("Search Value Started with Input Specific Values")
else:
    print ("Search Value is not Started with Input Specific Values")

Enter a string:  Hello Python World
Enter a word or phrase to find:  Hello Python

Search Value Started with Input Specific Values

In [53]:
#18. Check if a string ends with a specific word or phrase.

input_string = input("Enter a string: ")
find_word_phrase = input("Enter a word or phrase to find: ")

chk_val = input_string.endswith(find_word_phrase)
if chk_val == True:
    print ("Search Value End with Input Specific Values")
else:
    print ("Search Value is not End with Input Specific Values")

Enter a string:  Hello Python World
Enter a word or phrase to find:  Python World

Search Value End with Input Specific Values

In [55]:
#19. Convert a string to title case (e.g., "hello world" to "Hello World").

input_string = input("Enter a string: ")
print ("Converted String : ",input_string.title())

Enter a string:  hello world

Converted String :  Hello World

In [3]:
#20. Find the longest word in a string.

input_string = input("Enter a string: ")
words = input_string.split()

longest_word = ""
max_length = 0

for word in words:
    if len(word) > max_length:
        longest_word = word
        max_length = len(word)
        
print("Longest Word is : ",longest_word)

Enter a string:  Hello Python World

Longest Word is :  Python

In [7]:
#21. Find the shortest word in a string.

input_string = input("Enter a string: ")
words = input_string.split()

shortest_word = ""
max_length = 0

for word in words:
    
    if len(word) < max_length or max_length == 0:
        shortest_word = word
        max_length = len(word)
        
print("Longest Word is : ",shortest_word)

Enter a string:  Welcome to Python Class

Longest Word is :  to

In [8]:
#22. Reverse the order of words in a string.

str = input("Enter the String : ")
print ("Reverese Value for the string is : ",str[::-1])

Enter the String :  python

Reverese Value for the string is :  nohtyp

In [26]:
#23. Check if a string is alphanumeric.

str = input("Enter the String : ")
#words = input_string.split()

if str.isalnum() == True:
    print("String is a AlphaNumeric Values")
else:
    print("String is Not a alphanumeric values")

Enter the String :  ^*%&^%&

String is Not a alphanumeric values

In [38]:
#24. Extract all digits from a string.

str = input("Enter the String : ")
numeric_val = ""
for char in str:
    if char.isnumeric() == True:
        numeric_val += char
        
print ("Numeric Values are : ",numeric_val)

Enter the String :  Current Temprature is 102C on 8-Sep-2023

Numeric Values are :  10282023

In [39]:
#25. Extract all alphabets from a string.

str = input("Enter the String : ")
alpha_val = ""
for char in str:
    if char.isalpha() == True:
        alpha_val += char
        
print ("Alphabet Values are : ",alpha_val)

Enter the String :  Current Temprature is 102C on 8-Sep-2023

Alphabet Values are :  CurrentTempratureisConSep

In [5]:
#26. Count the number of uppercase letters in a string.

str = input("Enter the String : ")
cnt = 0
for char in str:
    if char.isupper() == True:
       cnt += 1
    
print ("Number of Upper Characters in the Input is : ",cnt)

Enter the String :  Welcome to Python Class

Number of Upper Characters in the Input is :  3

In [6]:
#27. Count the number of lowercase letters in a string.

str = input("Enter the String : ")
cnt = 0
for char in str:
    if char.islower() == True:
       cnt += 1
    
print ("Number of Lower Characters in the Input is : ",cnt)

Enter the String :  Welcome to Python Class

Number of Lower Characters in the Input is :  17

In [8]:
#28. Swap the case of each character in a string.

str = input("Enter the String : ")
out_val = ""
for char in str:
    if char.isupper() == True:
        out_val += char.lower()
    else:
        out_val += char.upper()
        
print ("Value after the swap case for each Character : ",out_val)

Enter the String :  Welcome to Python Class

Value after the swap case for each Character :  wELCOME TO pYTHON cLASS

In [9]:
#29. Remove a specific word from a string.

str = input("Enter the String : ")
remove_word = input("Enter the Word to Remove from the Phrase : ")
print ("Output Value after remove word from the phrase : ",str.replace(remove_word,''))

Enter the String :  Welcome to Python Class
Enter the Word to Remove from the Phrase :  to

Output Value after remove word from the phrase :  Welcome  Python Class

In [29]:
#30. Check if a string is a valid email address.


def fn_validate_email(email_str):
    pos_atthrate=email_str.find('@')
    username,domain = email_str.split('@')

    # Check username or domain are not empty
    if not username or not domain:
        print("Uername or Domain is Empty")
        return False

    #Check domain contains exactly one dot
    if domain.count(".") == 0:
        print("Domain Value must Contain Dot")
        return False

    valid_characters = "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789.-_"
    if any(char not in valid_characters for char in username) or any(char not in valid_characters for char in domain):
        print("Username and Domain having not valid characters")
        return False
        
    return True
    
email_str = input("Enter the Email Address : ")
validate_chk = fn_validate_email(email_str)
if validate_chk == True:   
    print (email_str+" Email Address is a Valid email Address")
else:
    print (email_str+" Email Address is Not a Valid email Address")

Enter the Email Address :  abccorp@gmail.com

abccorp@gmail.com Email Address is a Valid email Address

In [32]:
#31. Extract the username from an email address string.

email_str = input("Enter the Email Address : ")
#pos_atthrate=email_str.find('@')
username,domain = email_str.split('@')
print ("Username is :",username)

Enter the Email Address :  abc-Corp@gmail.com

Username is : abc-Corp

In [33]:
#32. Extract the domain name from an email address string.


email_str = input("Enter the Email Address : ")
#pos_atthrate=email_str.find('@')
username,domain = email_str.split('@')
print ("Domain is :",domain)

Enter the Email Address :  abc-Corp@gmail.com

Domain is : gmail.com

In [37]:
#33. Replace multiple spaces in a string with a single space.

str = input("Enter the String : ")
text = ' '.join(str.split())
print("After Replace the Multiple Space :",text)

Enter the String :  Welcome   to    Python    Class

After Replace the Multiple Space : Welcome to Python Class

In [40]:
#34. Check if a string is a valid URL.

def is_valid_url(url):
    # Check if the URL starts with "http://" or "https://"
    if not (url.startswith("http://") or url.startswith("https://")):
        return False

    # Extract the domain from the URL
    domain = url.split("://")[1].split("/")[0]
    
    # Split the domain by dots (.)
    parts = domain.split(".")
    
    # Check for minimum and maximum domain length
    if len(parts) < 2 or len(parts[-1]) < 2 or len(parts[-1]) > 6:
        return False

    # Check if each part of the domain contains valid characters
    for part in parts:
        if not part.isalnum() and '-' not in part:
            return False

    return True

url = "https://www.example.com"
if is_valid_url(url):
    print(f"{url} is a valid URL.")
else:
    print(f"{url} is not a valid URL.")

https://www.example.com is a valid URL.

In [48]:
#35. Extract the protocol (http or https) from a URL string.

url = "https://www.example.com"
print ("Protocol from Url is : ",url[:url.find(":")])

Protocol from Url is :  https

In [52]:
#36. Find the frequency of each character in a string.

str = input("Enter the String : ")
char_count = {}
for char in str:
    char_count[char] = char_count.get(char, 0) + 1

for char, count in char_count.items():
    print(f"'{char}': {count}")

Enter the String :  welcome to python class

'w': 1
'e': 2
'l': 2
'c': 2
'o': 3
'm': 1
' ': 3
't': 2
'p': 1
'y': 1
'h': 1
'n': 1
'a': 1
's': 2

In [58]:
#37. Remove all punctuation from a string.
input_string = "Hello, World! This is an example: punctuation removal."

punctuation_chars = "!\"#$%&'()*+,-./:;<=>?@[\\]^_`{|}~"
cleaned_string = ""
for char in input_string:
    if char not in punctuation_chars:
        cleaned_string += char
print ("After punctuation Removal :",cleaned_string)

After punctuation Removal : Hello World This is an example punctuation removal

In [65]:
#38. Check if a string contains only digits.

str = input("Enter the String : ")
if str.isdigit() == True:
    print ("String Contains Only Numbers")
else:
    print ("String Contains Not Numeric Values")

Enter the String :  8768767

String Contains Only Numbers

In [68]:
#39. Check if a string contains only alphabets.


str = input("Enter the String : ")
if str.isalpha() == True:
    print ("String Contains Only Alphabets")
else:
    print ("String Contains Not Alphabets Values")

Enter the String :  pwskills

String Contains Only Alphabets

In [72]:
#40. Convert a string to a list of characters.

str = input("Enter the String : ")
char_list = [] 
for char in str:
    char_list.append(char)
    
print (char_list)

Enter the String :  python class

['p', 'y', 't', 'h', 'o', 'n', ' ', 'c', 'l', 'a', 's', 's']

In [75]:
#41. Check if two strings are anagrams.

string1 = "listen"
string2 = "silent"

string1 = string1.replace(" ", "").lower()
string2 = string2.replace(" ", "").lower()

if sorted(string1) == sorted(string2):
    print(f"{string1} and {string2} are anagrams.")
else:
    print(f"{string1} and {string2} are not anagrams.")

listen and silent are anagrams.

In [76]:
#42. Encode a string using a Caesar cipher.

def caesar_cipher(text, shift):
    encoded_text = ""

    for char in text:
        if char.isalpha():  # Check if the character is alphabetic
            is_upper = char.isupper()  # Check if the character is uppercase
            char = char.lower()  # Convert the character to lowercase for shifting

            # Apply the Caesar cipher shift
            shifted_char = chr(((ord(char) - ord('a') + shift) % 26) + ord('a'))

            # Convert back to uppercase if the original character was uppercase
            if is_upper:
                shifted_char = shifted_char.upper()

            encoded_text += shifted_char
        else:
            # If the character is not alphabetic, keep it unchanged
            encoded_text += char

    return encoded_text

plaintext = "Hello, World!"
shift = 3

encoded_text = caesar_cipher(plaintext, shift)
print(f"Original text: {plaintext}")
print(f"Encoded text: {encoded_text}")

Original text: Hello, World!
Encoded text: Khoor, Zruog!

In [77]:
#44. Find the most frequent word in a string.

def caesar_decipher(encoded_text, shift):
    decoded_text = ""

    for char in encoded_text:
        if char.isalpha():  # Check if the character is alphabetic
            is_upper = char.isupper()  # Check if the character is uppercase
            char = char.lower()  # Convert the character to lowercase for shifting

            # Apply the reverse Caesar cipher shift
            shifted_char = chr(((ord(char) - ord('a') - shift) % 26) + ord('a'))

            # Convert back to uppercase if the original character was uppercase
            if is_upper:
                shifted_char = shifted_char.upper()

            decoded_text += shifted_char
        else:
            # If the character is not alphabetic, keep it unchanged
            decoded_text += char

    return decoded_text

encoded_text = "Khoor, Zruog!"
shift = 3
decoded_text = caesar_decipher(encoded_text, shift)

print(f"Encoded text: {encoded_text}")
print(f"Decoded text: {decoded_text}")

Encoded text: Khoor, Zruog!
Decoded text: Hello, World!

In [79]:
#45. Find all unique words in a string.

input_string = "This is a test. This is only a test."
words = input_string.split()
unique_word_set = set(words)

print ('Unique Words : ',unique_word_set)

Unique Words :  {'is', 'This', 'test.', 'only', 'a'}

In [80]:
#46. Count the number of syllables in a string.

def count_syllables(input_string):
    vowels = "AEIOUaeiou"
    count = 0
    prev_char_is_vowel = False

    for char in input_string:
        if char in vowels:
            if not prev_char_is_vowel:
                count += 1
            prev_char_is_vowel = True
        else:
            prev_char_is_vowel = False

    return count

input_string = "Hello, World! This is a test."
syllable_count = count_syllables(input_string)

print(f"Number of syllables: {syllable_count}")

Number of syllables: 7

In [6]:
#47. Check if a string contains any special characters.

input_string = "Hello, World! This is a test."
allowed_chars = "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789.,!?;:()\"'-"

if any(char not in allowed_chars for char in input_string):
    print(f"{input_string} contains special characters.")
else:
    print(f"{input_string} does not contain special characters.")

Hello, World! This is a test. contains special characters.

In [10]:
#48. Remove the nth word from a string.

input_string = "Hello, World! This is a test."
rem_n_word = int(input("Input the nth Word to extract from the string"))

print("nth Word is : ",input_string[rem_n_word-1:rem_n_word])

Input the nth Word to extract from the string 10

nth Word is :  r

In [15]:
#49. Insert a word at the nth position in a string.

string = "Hello, World! This is a test"
insert_word = input("Input the Word to Insert")
insert_word = " "+insert_word+" "
position = int(input("Input the Position to insert the word into the string"))

result_string = string[:position] + insert_word + string[position:]
print ("New String is : ",result_string)

Input the Word to Insert Program
Input the Position to insert the word into the string 35

New String is :  Hello, World! This is a test Program

In [16]:
#50. Convert a CSV string to a list of lists.

# CSV string
csv_string = "Name,Age,Location\nJohn,30,New York\nAlice,25,Los Angeles\nBob,35,Chicago"
lines = csv_string.split('\n')
csv_list = [line.split(',') for line in lines]

for row in csv_list:
    print(row)

['Name', 'Age', 'Location']
['John', '30', 'New York']
['Alice', '25', 'Los Angeles']
['Bob', '35', 'Chicago']

***************************
List Based Practice Problem
***************************

In [22]:
#1. Create a list with integers from 1 to 10.

lst1 = list(range(1,11))
lst1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [25]:
#2. Find the length of a list without using the `len()` function.

lst1 = list(range(1,11))
count = 0
for i in lst1:
    count += 1

print("Length of the list is : ",count)

Length of the list is :  10

In [26]:
#Append an element to the end of a list.

lst1 = list(range(1,11))
lst1.append(11)
lst1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [31]:
#4. Insert an element at a specific index in a list.

lst1 = list(range(1,11))
lst1.insert(1,15)
lst1

[1, 15, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [33]:
#5. Remove an element from a list by its value.
lst1 = list(range(1,11))
lst1.remove(9)
lst1

[1, 2, 3, 4, 5, 6, 7, 8, 10]

In [34]:
#6. Remove an element from a list by its index.

lst1 = list(range(1,11))
lst1.pop(4)
lst1

[1, 2, 3, 4, 6, 7, 8, 9, 10]

In [42]:
#7. Check if an element exists in a list.

lst1 = list(range(1,11))
chk_val=int(input("Please a value between 1 to 10 on our list to check is exists"))
if lst1.count(chk_val) > 0:
    print("value exists in the list")
else:
    print("Value not exists")

Please a value between 1 to 10 on our list to check is exists 10

value exists in the list

In [18]:
#8. Find the index of the first occurrence of an element in a list.

list1 = [1,2,3,4,5,3,2,1,10]
chk_val=int(input("Please a value to check in the list"))
print ("First Occurance in the list : ",list1.index(chk_val))

Please a value to check in the list 2

First Occurance in the list :  1

In [21]:
#9. Count the occurrences of an element in a list.

list1 = [1,2,3,4,5,3,2,1,10,2]
chk_val=int(input("Please a value to check in the list"))
print ("Count of Occurance in the list : ",list1.count(chk_val))

Please a value to check in the list 2

Count of Occurance in the list :  3

In [28]:
#10. Reverse the order of elements in a list.

list1 = [1,2,3,4,5,3,2,1,10]
reversed_list = list(reversed(list1))
print ("Reverese Order of our list : ",reversed_list)

print ("Another way Reverese Order of our list : ",list1[::-1])

Reverese Order of our list :  [10, 1, 2, 3, 5, 4, 3, 2, 1]
Another way Reverese Order of our list :  [10, 1, 2, 3, 5, 4, 3, 2, 1]

In [37]:
#11. Sort a list in ascending order.

list1 = [1,2,3,4,5,3,2,1,10]
list1.sort()
print("Sorted List is :",list1)

Sorted List is : [1, 1, 2, 2, 3, 3, 4, 5, 10]

In [38]:
#12. Sort a list in descending order.
list1 = [1,2,3,4,5,3,2,1,10]
list1.sort()

print("Sorted List is Descending Order :",list1[::-1])

Sorted List is Descending Order : [10, 5, 4, 3, 3, 2, 2, 1, 1]

In [45]:
#13. Create a list of even numbers from 1 to 20.

even_list = []
for i in list(range(1,20)):
    if i%2 == 0:
        even_list.append(i)

print ("Even Number List from 1 to 20 will be : ",even_list)

Even Number List from 1 to 20 will be :  [2, 4, 6, 8, 10, 12, 14, 16, 18]

In [47]:
#14. Create a list of odd numbers from 1 to 20.

odd_list = []
for i in list(range(1,20)):
    if i%2 != 0:
        odd_list.append(i)

print ("Odd Number List from 1 to 20 will be : ",odd_list)

Odd Number List from 1 to 20 will be :  [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [50]:
#15. Find the sum of all elements in a list.

list1 = [1,2,3,4,5,6,7,8,9,10]
total_sum = sum(list1)
print ("Sum of all the Elements in a list :",total_sum)

Sum of all the Elements in a list : 55

In [51]:
#16. Find the maximum value in a list.

list1 = [1,2,3,4,5,6,7,8,9,10]
max_val = max(list1)
print ("Maximum of the value in the list :",max_val)

Maximum of the value in the list : 10

In [52]:
#17. Find the minimum value in a list.

list1 = [1,2,3,4,5,6,7,8,9,10]
min_val = min(list1)
print ("Maximum of the value in the list :",min_val)

Maximum of the value in the list : 1

In [55]:
#18. Create a list of squares of numbers from 1 to 10.

sqr_list = []
for i in list(range(1,10)):
    sqr_list.append(i**2)
    
print ("List of Square numbers : ",sqr_list)

List of Square numbers :  [1, 4, 9, 16, 25, 36, 49, 64, 81]

In [8]:
#19. Create a list of random numbers.

import random

random_numbers = []
for i in range(10):
    random_number = random.randint(1, 100)
    random_numbers.append(random_number)

print(random_numbers)

[58, 23, 60, 81, 70, 82, 68, 84, 43, 92]

In [12]:
#20. Remove duplicates from a list.

mylist = [1,2,3,4,5,3,2,7,6,8,1]
print("After Remove Duplicate : ",list(set(mylist)))

After Remove Duplicate :  [1, 2, 3, 4, 5, 6, 7, 8]

In [17]:
#21. Find the common elements between two lists.

mylist1 = [1,2,3,4,5,6,7,8,9,10]
mylist2 = [1,2,3,4,5]
commonlist = []

for i in mylist1:
    if mylist2.count(i) > 0:
        commonlist.append(i)
            
print ("Commong List is : ",commonlist)

Commong List is :  [1, 2, 3, 4, 5]

In [21]:
#22. Find the difference between two lists.

mylist1 = [1,2,3,4,5,6,7,8,9,10]
mylist2 = [1,2,3,4,5,11,12,13,14]
commonlist = []

for i in mylist1:
    if mylist2.count(i) == 0:
        commonlist.append(i)
        
for i in mylist2:
    if mylist1.count(i) == 0:
        commonlist.append(i)        
            
print ("Difference List is : ",commonlist)

Difference List is :  [6, 7, 8, 9, 10, 11, 12, 13, 14]

In [23]:
#23. Merge two lists.

mylist1 = [1,2,3,4,5,6,7,8,9,10]
mylist2 = [1,2,3,4,5,11,12,13,14]
mylist3 = list(mylist1+mylist2)
print ("Merge List are : ",mylist3)

Merge List are :  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5, 11, 12, 13, 14]

In [27]:
#24. Multiply all elements in a list by 2.
mylist1 = [1,2,3,4,5,6,7,8,9,10]
mul_list = []
for i in mylist1:
    mul_list.append(2*i)

print("New List after Multiple by 2 : ",mul_list)

New List after Multiple by 2 :  [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [28]:
#25. Filter out all even numbers from a list.

mylist1 = [1,2,3,4,5,6,7,8,9,10]
even_list = []
for i in mylist1:
    if i%2 == 0:
        even_list.append(i)

print ("Even List are : ",even_list)

Even List are :  [2, 4, 6, 8, 10]

In [29]:
#26. Convert a list of strings to a list of integers.

string_list = ["1", "2", "3", "4", "5"]

int_list = []
for i in string_list:
    int_list.append(int(i))

print("Interger List is : ",int_list)

Interger List is :  [1, 2, 3, 4, 5]

In [30]:
#27. Convert a list of integers to a list of strings.

int_list = [1,2,3,4,5]
str_list =[]
for i in int_list:
    str_list.append(str(i))

print("String List is : ",str_list)

String List is :  ['1', '2', '3', '4', '5']

In [39]:
#28. Flatten a nested list.

nested_list = [[1, 2, 3], [4, 5], [6, 7, 8, 9],10]

flatten_list = []
for item in nested_list:
    if isinstance(item, list):
        flatten_list.extend(item)
    else:
        flatten_list.append(item)
print("Flatten List is : ",flatten_list)

Flatten List is :  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [42]:
#29. Create a list of the first 10 Fibonacci numbers.

n = 10
fib_sequence = [0, 1]
while len(fib_sequence) < n:
    next_num = fib_sequence[-1] + fib_sequence[-2]
    fib_sequence.append(next_num)

print("List of first 10 Fibonacci numbers : ", fib_sequence)

List of first 10 Fibonacci numbers :  [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [43]:
#30. Check if a list is sorted.

my_list = [1, 2, 3, 5, 6, 3]

if my_list == sorted(my_list):
    print("The list is sorted in ascending order.")
else:
    print("The list is not sorted in ascending order.")

The list is not sorted in ascending order.

In [49]:
#31. Rotate a list to the left by `n` positions.

my_list = [1, 2, 3, 4, 5]
n=int(input("Enter the number of position to rotate left"))
new_list = my_list[n:]+my_list[:n]
print ("New List after left rotate : ",new_list)

Enter the number of position to rotate left 2

New List after left rotate :  [3, 4, 5, 1, 2]

In [55]:
#32. Rotate a list to the right by `n` positions.

my_list = [1, 2, 3, 4, 5]
n=int(input("Enter the number of position to rotate left"))
new_list = my_list[-n:]+my_list[:-n]
print ("New List after Right rotate : ",new_list)

Enter the number of position to rotate left 2

New List after Right rotate :  [4, 5, 1, 2, 3]

In [1]:
#33. Create a list of prime numbers up to 50.

def is_prime(number):
    if number <= 1:
        return False
    if number <= 3:
        return True
    if number % 2 == 0 or number % 3 == 0:
        return False
    i = 5
    while i * i <= number:
        if number % i == 0 or number % (i + 2) == 0:
            return False
        i += 6
    return True

def generate_first_n_primes(n):
    primes = []
    number = 2
    while len(primes) < n:
        if is_prime(number):
            primes.append(number)
        number += 1
    return primes

first_50_primes = generate_first_n_primes(50)
print(first_50_primes)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199, 211, 223, 227, 229]

In [18]:
#34. Split a list into chunks of size `n`.

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]
chunk_size = int(input("Enter the Chunk Size"))
result_list = []
for i in range(0, len(my_list), chunk_size):
        chunk_list_part = my_list[i:i + chunk_size]
        result_list.append(chunk_list_part)
    
print(result_list)

Enter the Chunk Size 3

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [29]:
#35. Find the second largest number in a list.

my_list = [12, 45, 2, 41, 31, 10, 8, 6, 4]
print("Secound largets number is :",sorted(list(set(my_list)))[-2])

Secound largets number is : 41

In [30]:
#36. Replace every element in a list with its square.

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]
sqr_list = []
for i in my_list:
    sqr_list.append(i**2)
    
print ("List of Square numbers : ",sqr_list)

List of Square numbers :  [1, 4, 9, 16, 25, 36, 49, 64, 81]

In [33]:
#37. Convert a list to a dictionary where list elements become keys and their indices become values.

my_list = ['apple', 'banana', 'cherry', 'date']
my_dict = {value: index for index, value in enumerate(my_list)}
print(my_dict)

{'apple': 0, 'banana': 1, 'cherry': 2, 'date': 3}

In [35]:
#38. Shuffle the elements of a list randomly.

import random
my_list = [1, 2, 3, 4, 5]
random.shuffle(my_list)
print(my_list)

[5, 4, 3, 1, 2]

In [41]:
#39. Create a list of the first 10 factorial numbers.

def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n - 1)

# Create a list of the first 10 factorial numbers
factorial_numbers = [factorial(i) for i in range(10)]

print(factorial_numbers)

[1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

In [45]:
#40. Check if two lists have at least one element in common

mylist1 = [1,2,3,4,5,6,7,8,9,10]
mylist2 = [1,2,3,4,5]
commonlist = []

for i in mylist1:
    if mylist2.count(i) > 0:
        commonlist.append(i)
            
if len(commonlist) > 0:
    print ('We have more than one common elements in the lists')
else:
    print ('There is no common elements in the lists')

We have more than one common elements in the lists

In [47]:
#41. Remove all elements from a list.

mylist1 = [1,2,3,4,5,6,7,8,9,10]
mylist1.clear()

print ("My Current list is : ",mylist1)

My Current list is :  []

In [54]:
#42. Replace negative numbers in a list with 0.

mylist1 = [1, 2, 3, -4, -6, -7]
for i in mylist1:
    if i < 0:
        index = mylist1.index(i)
        mylist1[index] = 0

print(mylist1)

[1, 2, 3, 0, 0, 0]

In [55]:
#43. Convert a string into a list of words.

my_string = "This is a sample string to split into words."
word_list = my_string.split()
print(word_list)

['This', 'is', 'a', 'sample', 'string', 'to', 'split', 'into', 'words.']

In [60]:
#44. Convert a list of words into a string.
mylist = ['This', 'is', 'a', 'sample', 'list', 'join', 'to', 'Phrase.']
my_string = ' '.join(mylist)
print("My list to string : ",my_string)

My list to string :  This is a sample list join to Phrase.

In [62]:
#45. Create a list of the first `n` powers of 2.

n = 5  
powers_of_2 = [2 ** i for i in range(n)]
print(powers_of_2)

[1, 2, 4, 8, 16]

In [63]:
#46. Find the longest string in a list of strings.

my_list = ['apple', 'banana', 'cherry', 'date']
longest_string = max(my_list, key=len)
print("The longest string is:", longest_string)

The longest string is: banana

In [64]:
#47. Find the shortest string in a list of strings.

my_list = ['apple', 'banana', 'cherry', 'date']
Shortest_string = min(my_list, key=len)
print("The Shortest string is:", Shortest_string)

The Shortest string is: date

In [67]:
#48. Create a list of the first `n` triangular numbers.

n = 5 
triangular_numbers = []
for i in range(1, n + 1):
    triangular_numbers.append((i * (i + 1)) // 2)
print(triangular_numbers)

[1, 3, 6, 10, 15]

In [68]:
#49. Check if a list contains another list as a subsequence.
def is_subsequence(subseq, seq):
    subseq_len = len(subseq)
    seq_len = len(seq)
    
    # Initialize indices for subseq and seq
    subseq_index = 0
    seq_index = 0
    
    # Iterate through the lists
    while subseq_index < subseq_len and seq_index < seq_len:
        if subseq[subseq_index] == seq[seq_index]:
            subseq_index += 1
        seq_index += 1

    # If all elements of subseq have been found in seq, it's a subsequence
    return subseq_index == subseq_len

seq = [1, 2, 3, 4, 5, 6, 7, 8, 9]
subseq = [2, 4, 6]

result = is_subsequence(subseq, seq)
print(result)  # True

True

In [69]:
#50. Swap two elements in a list by their indices.
def swap_elements_by_indices(my_list, index1, index2):
    if 0 <= index1 < len(my_list) and 0 <= index2 < len(my_list):
        my_list[index1], my_list[index2] = my_list[index2], my_list[index1]

# Example usage:
my_list = [1, 2, 3, 4, 5]
index1 = 1
index2 = 3

swap_elements_by_indices(my_list, index1, index2)

print(my_list)

[1, 4, 3, 2, 5]

Tuple Based Practice Problem

In [4]:
#1. Create a tuple with integers from 1 to 5.

my_tuple = tuple(range(1, 6))
print ("My Tuple is : ",my_tuple)

My Tuple is :  (1, 2, 3, 4, 5)

In [11]:
#2. Access the third element of a tuple.

my_tuple = tuple(range(1, 6))
print ("My Tuple is : ",my_tuple)
print ("Third Element in my tupple is : ",my_tuple[2])

My Tuple is :  (1, 2, 3, 4, 5)
Third Element in my tupple is :  3

In [15]:
#3. Find the length of a tuple without using the `len()` function.

my_tuple = tuple(range(1, 6))
len_cnt = 0
for i in my_tuple:
    len_cnt += 1

print ("My Tuple is : ",my_tuple)
print ("Length of tupple is : ",len_cnt)

My Tuple is :  (1, 2, 3, 4, 5)
Length of tupple is :  5

In [18]:
#4. Count the occurrences of an element in a tuple.

my_tuple = (1,2,2,3,4,5,6)
count = my_tuple.count(2)

print ("My Tuple is : ",my_tuple)
print ("No of Occurance is : ",count)

My Tuple is :  (1, 2, 2, 3, 4, 5, 6)
No of Occurance is :  2

In [19]:
#5. Find the index of the first occurrence of an element in a tuple.

my_tuple = (1,2,2,3,4,5,6)
ind_find = int(input("Enter the index for the first Occurance of an element"))
print ("My Tuple is : ",my_tuple)
print ("Index of the first Occurance element will be : ",my_tuple.index(ind_find))

Enter the index for the first Occurance of an element 2

My Tuple is :  (1, 2, 2, 3, 4, 5, 6)
Index of the first Occurance element will be :  1

In [23]:
#6. Check if an element exists in a tuple.

my_tuple = (1,2,3,4,5,6)
value_to_find = int(input("Enter the value to find in tupple"))
if value_to_find in my_tuple:
    print ("Value Exists in the Tupple")
else:
    print ("Value Not Exists in the Tupple")

Enter the value to find in tupple 3

Value Exists in the Tupple

In [24]:
#7. Convert a tuple to a list.

my_tuple = (1,2,3,4,5,6)
print ("My Tuple is : ",my_tuple)
print ("After convert the Tupple to List :",list(my_tuple))

My Tuple is :  (1, 2, 3, 4, 5, 6)
After convert the Tupple to List : [1, 2, 3, 4, 5, 6]

In [26]:
#8. Convert a list to a tuple.

my_list = [1, 2, 3, 4, 5, 6]
print ("My List is : ",my_list)
print ("After convert the List to Tupple :",tuple(my_list))

My List is :  [1, 2, 3, 4, 5, 6]
After convert the List to Tupple : (1, 2, 3, 4, 5, 6)

In [29]:
#9. Unpack the elements of a tuple into variables.

my_tuple = (1,2,3,4,5,6)
var1 = my_tuple[0]
print ("First Value to variable : ",var1)

First Value to variable :  1

In [34]:
#10. Create a tuple of even numbers from 1 to 10.

my_tuple = tuple(range(1, 10))
even_list = []
for i in my_tuple:
    if i%2 == 0:
        even_list.append(i)

even_tuple = tuple(even_list)
print ("Even Tupple is : ",even_tuple)

Even Tupple is :  (2, 4, 6, 8)

In [35]:
#11. Create a tuple of odd numbers from 1 to 10.

my_tuple = tuple(range(1, 10))
odd_list = []
for i in my_tuple:
    if i%2 != 0:
        odd_list.append(i)

odd_tuple = tuple(odd_list)
print ("Odd Tupple is : ",odd_list)

Odd Tupple is :  [1, 3, 5, 7, 9]

In [36]:
#12. Concatenate two tuples.

tup1 = (1,2,3,4,5)
tup2 = (1,6,7,8,9)
con_tup = tup1+tup2
print ("After Concatenate of 2 tupples is : ",con_tup)

After Concatenate of 2 tupples is :  (1, 2, 3, 4, 5, 1, 6, 7, 8, 9)

In [38]:
#13. Repeat a tuple three times.

tup1 = (1,2,3,4,5)
new_tup = tup1 *3
print ("Repeated the tupple 3 times is : ",new_tup)

Repeated the tupple 3 times is :  (1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [44]:
#14. Check if a tuple is empty.

tup1 = (1,2,3,4,5)
if not tup1:
    print("The tuple is empty.")
else:
    print("The tuple is not empty.")

The tuple is not empty.

In [45]:
#15. Create a nested tuple.

nest_tup = (1,2,(3,4),(5,6,(7,8)))
print ("Nested Tupple is : ",nest_tup)

Nested Tupple is :  (1, 2, (3, 4), (5, 6, (7, 8)))

In [51]:
#16. Access the first element of a nested tuple.

nest_tup = ((1,2),(3,4),(5,6,(7,8)))
first_element = nest_tup[0]
first_nest_element = first_element[0]
print ("First Element in the nested Tupple is : ",first_nest_element)

First Element in the nested Tupple is :  1

In [52]:
#17. Create a tuple with a single element.

sing_tup = (20)
print ("Tuple for a single element is : ",sing_tup)

Tuple for a single element is :  20

In [53]:
#18. Compare two tuples.

tuple1 = (1, 2, 3)
tuple2 = (1, 2, 4)

if tuple1 == tuple2:
    print("The tuples are equal.")
else:
    print("The tuples are not equal.")

The tuples are not equal.

In [60]:
#19. Delete a tuple.

tuple1 = (1, 2, 3)
print ("My tuple is : ",tuple1)
del tuple1
print ("After Delete the tuple is : ",tuple1)

My tuple is :  (1, 2, 3)

NameError: name 'tuple1' is not defined

In [62]:
my_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9)
sliced_tuple = my_tuple[2:5]
print("After Slicing the Tupple from 2 to 5 : ",sliced_tuple)

After Slicing the Tupple from 2 to 5 :  (3, 4, 5)

In [64]:
#21. Find the maximum value in a tuple.

my_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9)
print("Maximum value in the Tupple : ",max(my_tuple))

Maximum value in the Tupple :  9

In [65]:
#22. Find the minimum value in a tuple.
my_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9)
print("Minimum value in the Tupple : ",min(my_tuple))

Minimum value in the Tupple :  1

In [67]:
#23. Convert a string to a tuple of characters.

mystring=input("Enter the string to convert to tupple")
print("Tuple list from the string is : ",tuple(mystring))

Enter the string to convert to tupple Pwskills

Tuple list from the string is :  ('P', 'w', 's', 'k', 'i', 'l', 'l', 's')

In [31]:
#24. Convert a tuple of characters to a string.

tup_char = ('P', 'w', 's', 'k', 'i', 'l', 'l', 's')
tuple_as_string = ""
for i in tup_char:
    tuple_as_string += i
print("String from the tupple is : ",tuple_as_string)

String from the tupple is :  Pwskills

In [75]:
#25. Create a tuple from multiple data types.

tup_mul_data_type = (1,1.23,'pwskills',True)
print ("Multi Data type tuple is : ",tup_mul_data_type)

Multi Data type tuple is :  (1, 1.23, 'pwskills', True)

In [82]:
#26. Check if two tuples are identical.
tuple1 = (1, 2, 3, 4, 5)
tuple2 = (1, 2, 3, 4, 5)

if tuple1 == tuple2:
    print("The two tuples (tuple1 and tuple2) are identical.")
else:
    print("The two tuples (tuple1 and tuple2) are not identical.")

tuple3 = (1, 2, 3, 4, 5)
tuple4 = (6, 7, 8, 9, 10)

if tuple3 == tuple4:
    print("The two tuples (tuple3 and tuple4) are identical.")
else:
    print("The two tuples (tuple3 and tuple4) are not identical.")

The two tuples (tuple1 and tuple2) are identical.
The two tuples (tuple3 and tuple4) are not identical.

In [87]:
#27. Sort the elements of a tuple.

tuple1 = (1,4,2,3,7,8,9,0)
print ("My tuple is : ",tuple1)
print ("After tuple sort : ",sorted(tuple1))

My tuple is :  (1, 4, 2, 3, 7, 8, 9, 0)
After tuple sort :  [0, 1, 2, 3, 4, 7, 8, 9]

In [92]:
#28. Convert a tuple of integers to a tuple of strings.

int_tup1 = (1,4,2,3,7,8,9,0)
str_val= ""
for i in int_tup1:
    str_val += str(i)
str_tup = tuple(str_val)
print ("Tuple of integers to String tuple : ",str_tup)

Tuple of integers to String tuple :  ('1', '4', '2', '3', '7', '8', '9', '0')

In [95]:
#29. Convert a tuple of strings to a tuple of integers.
str_tup = ('1', '4', '2', '3', '7', '8', '9', '0')
int_list = []
for i in str_tup:
    int_list.append(int(i))
int_tup = tuple(int_list)
print ("Tuple of integers to String tuple : ",int_tup)

Tuple of integers to String tuple :  (1, 4, 2, 3, 7, 8, 9, 0)

In [97]:
#30. Merge two tuples.

tup1 = (1,2,3,4,5)
tup2 = (1,6,7,8,9)
print ("After Merge of 2 tupples is : ",tup1+tup2)

After Merge of 2 tupples is :  (1, 2, 3, 4, 5, 1, 6, 7, 8, 9)

In [101]:
#31. Flatten a nested tuple.
nested_tuple = ((1, 2), (3, 4, 5), (6, (7, 8)))
flat_list = []
for item in nested_tuple:
    if isinstance(item, tuple):
        flat_list.extend(flatten_tuple(item))        
    else:            
        flat_list.append(item)

flat_tuple = tuple(flat_list)          
print("Flatten nested tuple :",flat_tuple)

Flatten nested tuple : (1, 2, 3, 4, 5, 6, 7, 8)

In [102]:
#32. Create a tuple of the first 5 prime numbers.

def is_prime(number):
    if number <= 1:
        return False
    if number <= 3:
        return True
    if number % 2 == 0 or number % 3 == 0:
        return False
    i = 5
    while i * i <= number:
        if number % i == 0 or number % (i + 2) == 0:
            return False
        i += 6
    return True

count = 0
number = 0
prime_numbers = []

while count < 5:
    if is_prime(number):
        prime_numbers.append(number)
        count += 1
    number += 1

print("First 5 prime Numbers is : ",prime_numbers)

First 5 prime Numbers is :  [2, 3, 5, 7, 11]

In [103]:
#33. Check if a tuple is a palindrome.


def is_palindrome_tuple(my_tuple):
    return my_tuple == my_tuple[::-1]

tuple1 = (1, 2, 3, 2, 1)
if is_palindrome_tuple(tuple1):
    print("Tuple 1 is a palindrome.")
else:
    print("Tuple 1 is not a palindrome.")

tuple2 = (1, 2, 3, 4, 5)
if is_palindrome_tuple(tuple2):
    print("Tuple 2 is a palindrome.")
else:
    print("Tuple 2 is not a palindrome.")

Tuple 1 is a palindrome.
Tuple 2 is not a palindrome.

In [63]:
#34. Create a tuple of squares of numbers from 1 to 5.

sq_list = []
for i in range(1,6):
    sq_list.append(i**2)
sqr_tup = tuple(sq_list)
print ("Tuple of Squares of number from 1 to 5 is : ",sqr_tup)

Tuple of Squares of number from 1 to 5 is :  (1, 4, 9, 16, 25)

In [111]:
#35. Filter out all even numbers from a tuple.

tup1 = (1,2,3,4,5,6,7,8,9,10)
even_list=[]
for i in tup1:
    if i%2==0:
        even_list.append(i)

even_tup = tuple(even_list)
print("Even numbers : ",even_tup)

Even numbers :  (2, 4, 6, 8, 10)

In [112]:
#36. Multiply all elements in a tuple by 2.

sq_list = []
for i in range(1,6):
    sq_list.append(i*2)
sqr_tup = tuple(sq_list)
print ("Tuple of Multiple by 2 is : ",sqr_tup)

Tuple of Multiple by 2 is :  (2, 4, 6, 8, 10)

In [113]:
#37. Create a tuple of random numbers.

import random

# Define the range and size of the tuple
start_range = 1
end_range = 100
tuple_size = 5

# Create a tuple of unique random integers
random_numbers = random.sample(range(start_range, end_range + 1), tuple_size)
random_tuple = tuple(random_numbers)

print("Random Tuple is : ",random_tuple)

Random Tuple is :  (31, 23, 13, 11, 82)

In [120]:
#38. Check if a tuple is sorted.

tuple1 = (1, 2, 3, 4, 5)
if tuple1 == tuple(sorted(tuple1)):
    print ("Tupple is sorted")
else:
    print ("Tupple is not sorted")

Tupple is sorted

In [124]:
#39. Rotate a tuple to the left by `n` positions.
n_pos = int(input("Enter the position value to rotate the tuple to the left from Entered position"))
tuple1 = (1, 2, 3, 4, 5)
print (tuple(tuple1[n_pos:]+tuple1[:n_pos]))

Enter the position value to rotate the tuple to the left from Entered position 3

(4, 5, 1, 2, 3)

In [130]:
#40. Rotate a tuple to the right by `n` positions.
n_pos = int(input("Enter the position value to rotate the tuple to the Right from Entered position"))
tuple1 = (1, 2, 3, 4, 5)
tuple1[-n_pos:]+tuple1[:-n_pos]

Enter the position value to rotate the tuple to the Right from Entered position 3

(3, 4, 5, 1, 2)

In [133]:
#41. Create a tuple of the first 5 Fibonacci numbers.

n = 5
fib_sequence = [0, 1]
while len(fib_sequence) < n:
    next_num = fib_sequence[-1] + fib_sequence[-2]
    fib_sequence.append(next_num)

fib_tupple = tuple(fib_sequence)
print("Tuple of first 5 Fibonacci numbers : ", fib_tupple)

Tuple of first 5 Fibonacci numbers :  (0, 1, 1, 2, 3)

In [135]:
#42. Create a tuple from user input..

tup=input("Enter the tuple list")
print("Entered Tuple is : ",tup)

Enter the tuple list (1,2,3,4,5)

Entered Tuple is :  (1,2,3,4,5)

In [143]:
#43. Swap two elements in a tuple.

tup1 = (1, 2, 3, 4, 5)
tuple_list = list(my_tuple)
tuple_list[index1], tuple_list[index2] = tuple_list[index2], tuple_list[index1]
swapped_tuple = tuple(tuple_list)


print(tup1[tup1.index(3)])
print(tup1[tup1.index(2)])
#print ("Swap the two elements 2 and 3 from the tuple : ",

3
2

In [12]:
#44. Reverse the elements of a tuple.

tup1 = (1, 2, 3, 4, 5)
print ("Reverse Order of my tuple is : ",tuple(list(reversed(tup1))))

Reverse Order of my tuple is :  (5, 4, 3, 2, 1)

In [17]:
#46. Find the longest string in a tuple of strings.

my_tup = ('apple', 'banana', 'cherry', 'date')
longest_string = max(my_tup, key=len)
print("The longest string is:", longest_string)

The longest string is: banana

In [18]:
#47. Find the shortest string in a tuple of strings.

my_tup = ('apple', 'banana', 'cherry', 'date')
shortest_string = min(my_tup, key=len)
print("The longest string is:", shortest_string)

The longest string is: date

In [19]:
#48. Create a tuple of the first `n` triangular numbers.

n = 5 
triangular_numbers = []
for i in range(1, n + 1):
    triangular_numbers.append((i * (i + 1)) // 2)
print(tuple(triangular_numbers))

(1, 3, 6, 10, 15)

In [21]:
#49. Check if a tuple contains another tuple as a subsequence.

def contains_subsequence(main_tuple, subsequence):
    main_len = len(main_tuple)
    sub_len = len(subsequence)

    if sub_len == 0:
        return True  # An empty subsequence is always found

    if sub_len > main_len:
        return False  # Subsequence longer than main tuple can't be found

    for i in range(main_len - sub_len + 1):
        if main_tuple[i:i + sub_len] == subsequence:
            return True

    return False

main_tuple = (1, 2, 3, 4, 5, 6)
subsequence1 = (2, 3, 4)

if contains_subsequence(main_tuple, subsequence1) == True:
    print ("Main Tuple Contain Another sequence tuple")
else:
    print ("Main Tuple does not Contain Another sequence tuple")

Main Tuple Contain Another sequence tuple

In [23]:
#50. Create a tuple of alternating 1s and 0s of length `n`.


n = 10  
alternating_list = []

for i in range(n):
    if i % 2 == 0:
        alternating_list.append(1)
    else:
        alternating_list.append(0)

alternating_tuple = tuple(alternating_list)
print(alternating_tuple)

(1, 0, 1, 0, 1, 0, 1, 0, 1, 0)

Set Based Practice Problem

In [24]:
#1. Create a set with integers from 1 to 5.

myset = {1,2,3,4,5}
print ("my set is : ",myset)

my set is :  {1, 2, 3, 4, 5}

In [27]:
#2. Add an element to a set.

myset = {1,2,3,4,5}
myset.add(6)

print ("After add a element to set is : ",myset)

After add a element to set is :  {1, 2, 3, 4, 5, 6}

In [28]:
#3. Remove an element from a set.

myset = {1,2,3,4,5}
myset.remove(2)

print ("After remove a element to set is : ",myset)

After remove a element to set is :  {1, 3, 4, 5}

In [32]:
#4. Check if an element exists in a set.

myset = {1,2,3,4,5}
chk_element=int(input("Enter the Element to Check in the Set"))
if chk_element in myset:
    print ("Element exists in the set")
else:
    print ("Element not exists in the set")

Enter the Element to Check in the Set 3

Element exists in the set

In [6]:
#5. Find the length of a set without using the `len()` function.

myset = {1, 2, 3, 4, 5}
count = 0
for i in myset:
    count += 1
print ("Length of set is : ",count)

Length of set is :  5

In [7]:
#6. Clear all elements from a set.

myset = {1,2,3,4,5,6}
myset.clear()
print ("my Set after clear : ",myset)

my Set after clear :  set()

In [15]:
#7. Create a set of even numbers from 1 to 10.

myset = set(range(1,11))
even_set = {n for n in myset if n%2 == 0}  #used comprehensive method for finding Even Numbers
print ("Even Numbers are : ",even_set)

Even Numbers are :  {2, 4, 6, 8, 10}

In [16]:
#8. Create a set of odd numbers from 1 to 10.

myset = set(range(1,11))
odd_set = {n for n in myset if n%2 != 0}
print ("Even Numbers are : ",odd_set)

Even Numbers are :  {1, 3, 5, 7, 9}

In [17]:
#9. Find the union of two sets.

set1 = {1, 2, 3}
set2 = {3, 4, 5}

union_result = set1.union(set2)
print("Set after union of 2 sets is :",union_result)

Set after union of 2 sets is : {1, 2, 3, 4, 5}

In [20]:
#10. Find the intersection of two sets.

set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

intersection_result = set1.intersection(set2)
print("Set of intersection of 2 sets is : ",intersection_result)

Set of intersection of 2 sets is :  {3, 4}

In [21]:
#11. Find the difference between two sets.

set1 = {1, 2, 3}
set2 = {3, 4, 5}

difference_result = set1.difference(set2)
print("Difference on 2 sets is : ",difference_result)

Difference on 2 sets is :  {1, 2}

In [22]:
#12. Check if a set is a subset of another set.

set1 = {1, 2, 3}
set2 = {1, 2, 3, 4, 5}

is_subset = set1.issubset(set2)

if is_subset:
    print("set1 is a subset of set2")
else:
    print("set1 is not a subset of set2")

set1 is a subset of set2

In [23]:
#13. Check if a set is a superset of another set.


set1 = {1, 2, 3}
set2 = {1, 2, 3, 4, 5}

is_subset = set1.issuperset(set2)

if is_subset:
    print("set1 is a Superset of set2")
else:
    print("set1 is not a Superset of set2")

set1 is not a Superset of set2

In [26]:
#14. Create a set from a list.

list1=list(range(1,10))
print("My List is : ",list1)

print ("Set from a list :",set(list1))

My List is :  [1, 2, 3, 4, 5, 6, 7, 8, 9]
Set from a list : {1, 2, 3, 4, 5, 6, 7, 8, 9}

In [28]:
#15. Convert a set to a list.

set1 = set(range(1,10))
print ("my set is : ",set1)
print ("List from a set : ",list(set1))

my set is :  {1, 2, 3, 4, 5, 6, 7, 8, 9}
List from a set :  [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [38]:
#16. Remove a random element from a set.

import random

my_set = {10, 20, 30, 40, 50}
random_element = random.choice(list(my_set))
my_set.remove(random_element)

print("Removed element:", random_element)
print("Updated set:", my_set)

Removed element: 40
Updated set: {50, 20, 10, 30}

In [40]:
#17. Pop an element from a set.

my_set = {1, 2, 3, 4, 5}
removed_element = my_set.pop()
print("Removed element:", removed_element)
print("Updated set:", my_set)

Removed element: 1
Updated set: {2, 3, 4, 5}

In [48]:
#18. Check if two sets have no elements in common.

set1 = {1, 2, 3}
set2 = {4, 5}

difference_result = set1.intersection(set2)
if len(difference_result) > 0:
    print ("Identified Common Elements in the sets")
else:
    print ("There is no Common Elements in the sets")

There is no Common Elements in the sets

In [49]:
#19. Find the symmetric difference between two sets.

set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

symmetric_difference_result = set1.symmetric_difference(set2)
print(symmetric_difference_result)

{1, 2, 5, 6}

In [50]:
#20. Update a set with elements from another set.

set1 = {1, 2, 3}
set2 = {3, 4, 5}

set1.update(set2)
print("Updated set1:", set1)

Updated set1: {1, 2, 3, 4, 5}

In [51]:
#21. Create a set of the first 5 prime numbers.

def is_prime(number):
    if number <= 1:
        return False
    if number <= 3:
        return True
    if number % 2 == 0 or number % 3 == 0:
        return False
    i = 5
    while i * i <= number:
        if number % i == 0 or number % (i + 2) == 0:
            return False
        i += 6
    return True

count = 0
number = 0
prime_numbers = []

while count < 5:
    if is_prime(number):
        prime_numbers.append(number)
        count += 1
    number += 1

print("First 5 prime Numbers is : ",set(prime_numbers))

First 5 prime Numbers is :  {2, 3, 5, 7, 11}

In [52]:
#22. Check if two sets are identical.

set1 = {1, 2, 3, 4, 5}
set2 = {5, 4, 3, 2, 1}

if set1 == set2:
    print("The sets are identical.")
else:
    print("The sets are not identical.")

The sets are identical.

In [53]:
#23. Create a frozen set.

my_set = {1, 2, 3, 4, 5}
my_frozen_set = frozenset(my_set)

print(my_frozen_set)

frozenset({1, 2, 3, 4, 5})

In [54]:
#24. Check if a set is disjoint with another set.

set1 = {1, 2, 3}
set2 = {4, 5, 6}

if set1.isdisjoint(set2):
    print("The sets are disjoint.")
else:
    print("The sets have at least one common element.")

The sets are disjoint.

In [62]:
#25. Create a set of squares of numbers from 1 to 5.

set1 = set(range(1,5))
sqr_val = {i**2 for i in set1}
print ("Set of Square is : ",sqr_val)

Set of Square is :  {16, 1, 4, 9}

In [61]:
# 26. Filter out all even numbers from a set.

myset = set(range(1,11))
even_set = {n for n in myset if n%2 == 0} 
print ("Even Numbers are : ",even_set)

Even Numbers are :  {2, 4, 6, 8, 10}

In [64]:
#27. Multiply all elements in a set by 2.

set1 = set(range(1,5))
sqr_val = {i*2 for i in set1}
print ("Set of Square is : ",sqr_val)

Set of Square is :  {8, 2, 4, 6}

In [1]:
#28. Create a set of random numbers.

import random

random_set = set()
lower_bound = 1
upper_bound = 100
num_elements = 10  # Change this to the number of random elements you want

while len(random_set) < num_elements:
    random_set.add(random.randint(lower_bound, upper_bound))

print("Random Set is : ",random_set)

Random Set is :  {40, 9, 44, 77, 78, 82, 62, 88, 30, 95}

In [6]:
#29. Check if a set is empty.
set1 = set(range(1,5))
if len(set1) > 0:
    print ("Set is not Empty")
else:
    print ("Set is Empty")

Set is not Empty

In [7]:
#30. Create a nested set (hint: use frozenset).

# Create some sets
set1 = frozenset({1, 2, 3})
set2 = frozenset({4, 5, 6})
set3 = frozenset({7, 8, 9})

# Create a nested set containing the above sets
nested_set = frozenset({set1, set2, set3})

# Print the nested set
print("Nested multi frozen sets : ",nested_set)

Nested multi frozen sets :  frozenset({frozenset({1, 2, 3}), frozenset({4, 5, 6}), frozenset({8, 9, 7})})

In [9]:
#31. Remove an element from a set using the discard method.

my_set = {1, 2, 3, 4, 5}
my_set.discard(3)
print("My Set after discard of 3 : ",my_set)

My Set after discard of 3 :  {1, 2, 4, 5}

In [52]:
#32. Compare two sets.

set1 = {1, 2, 3}
set2 = {3, 2, 1}

if set1 == set2:
    print("The sets are equal.")
else:
    print("The sets are not equal.")

The sets are equal.

In [32]:
#33. Create a set from a string.
mystring=input("Enter the string to convert to Set")
print("Set from the string is : ",set(mystring))

Enter the string to convert to Set pwskills

Set from the string is :  {'w', 'i', 'k', 's', 'l', 'p'}

In [40]:
#34. Convert a set of strings to a set of integers.

set_alpha = {'a', 'b', 'c', 'd', 'e'}
set_as_string = ''.join(set_alpha)
print("String from the set is : ",set_as_string)

String from the set is :  ecdba

In [46]:
#35. Convert a set of integers to a set of strings.

int_set = {1,4,2,3,7,8,9,0}
str_val = set(str(i) for i in int_set)
print ("After Convety the integers to string is : ",str_val)

After Convety the integers to string is :  {'0', '2', '9', '1', '7', '4', '8', '3'}

In [47]:
#36. Create a set from a tuple.

my_tup = (1,2,3,4,5)
set_from_tup = set(my_tup)
print ("Set from the Tuple is : ",set_from_tup)

Set from the Tuple is :  {1, 2, 3, 4, 5}

In [48]:
#37. Convert a set to a tuple.

my_set = {1, 2, 3, 4, 5}
tup_from_set = tuple(my_set)
print ("Tuple from set is : ",tup_from_set)

Tuple from set is :  (1, 2, 3, 4, 5)

In [50]:
#38. Find the maximum value in a set.

my_set = {1, 2, 3, 4, 5}
print ("Maximum Element from the set is : ",max(my_set))

Maximum Element from the set is :  5

In [51]:
#39. Find the minimum value in a set.

my_set = {1, 2, 3, 4, 5}
print ("Minimum Element from the set is : ",min(my_set))

Minimum Element from the set is :  1

In [59]:
#40. Create a set from user input.

set1=input("Enter the set values")
print("Entered Set is : ",set1)

Enter the set values {1,2,3,4,5}

Entered Set is :  {1,2,3,4,5}

In [29]:
#41. Check if the intersection of two sets is empty.

set1 = {1, 2, 3}
set2 = {4, 5}

difference_result = set1.intersection(set2)
if len(difference_result) == 0:
    print ("Intersection Set is Empty")
else:
    print ("We have Intersection Elements in the Sets")

Intersection Set is Empty

In [60]:
#42. Create a set of the first 5 Fibonacci numbers.

n = 5
fib_sequence = [0, 1]
while len(fib_sequence) < n:
    next_num = fib_sequence[-1] + fib_sequence[-2]
    fib_sequence.append(next_num)

fib_set = set(fib_sequence)
print("Set of first 5 Fibonacci numbers:", fib_set)

Set of first 5 Fibonacci numbers: {0, 1, 2, 3}

In [57]:
#43. Remove duplicates from a list using sets.

my_list = [1,2,3,1,2,3,4,5,6,7,8,9,0]
my_set=set(my_list)
print ("After assign the list values to set :",my_set) # Duplicates will be removed after list assign to Set

After assign the list values to set : {0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [62]:
#44. Check if two sets have the same elements, regardless of their count.


set1 = {1, 2, 3, 4, 5}
set2 = {5, 4, 3, 2, 1}

if set1 == set2:
    print("The sets have the same elements, regardless of their count.")
else:
    print("The sets are not equal.")

The sets have the same elements, regardless of their count.

In [63]:
#45. Create a set of the first `n` powers of 2.

n = 5  # You can change n to any positive integer you desire
powers_of_2_set = set()

for i in range(n):
    power_of_2 = 2 ** i
    powers_of_2_set.add(power_of_2)

print("Set of the first", n, "powers of 2:", powers_of_2_set)

Set of the first 5 powers of 2: {1, 2, 4, 8, 16}

In [64]:
#46. Find the common elements between a set and a list.

# Create a set and a list
my_set = {1, 2, 3, 4, 5}
my_list = [3, 4, 5, 6, 7]

common_elements = my_set.intersection(my_list)
common_elements_list = list(common_elements)
print("Common elements:", common_elements_list)

Common elements: [3, 4, 5]

In [61]:
#47. Create a set of the first `n` triangular numbers.

n = 5
triangular_numbers = []
for i in range(1, n + 1):
    triangular_numbers.append((i * (i + 1)) // 2)

triangular_set = set(triangular_numbers)
print("Set of first 5 triangular numbers:", triangular_set)

Set of first 5 triangular numbers: {1, 3, 6, 10, 15}

In [65]:
#48. Check if a set contains another set as a subset.

set1 = {1, 2, 3, 4, 5}
set2 = {2, 3}

is_subset = set2.issubset(set1)
if is_subset:
    print("set2 is a subset of set1.")
else:
    print("set2 is not a subset of set1.")

set2 is a subset of set1.

In [66]:
#49. Create a set of alternating 1s and 0s of length `n`.

n = 10  # You can change n to any positive integer you desire
alternating_set = set()

for i in range(n):
    element = i % 2  # Alternating between 0 and 1
    alternating_set.add(element)

print("Set of alternating 1s and 0s of length", n, ":", alternating_set)

Set of alternating 1s and 0s of length 10 : {0, 1}

In [67]:
#50. Merge multiple sets into one.

# Create multiple sets
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}

# Merge the sets using the union() method
merged_set = set1.union(set2, set3)

print("Merged set:", merged_set)

Merged set: {1, 2, 3, 4, 5, 6, 7}